.card
  .card-body
    .list-group.list-group-flush
      .list-group-item
        .row.align-items-center
          .col
            %h1.header-title
              Device
    / List group
    .list-group.list-group-flush.my-n3
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %h5.mb-0
              Device Name
          .col-auto
            / Time
            %time.small.text-muted
              = customer&.device_name
        / / .row
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %h5.mb-0
              Serial No
          .col-auto
            / Time
            %time.small.text-muted
              = customer&.serial_no
        / / .row
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %h5.mb-0
              Model
          .col-auto
            / Link
            %a.small.text_muted
              = customer&.model
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %h5.mb-0
              Mac Address
          .col-auto
            / Text
            %small.text-muted
              = customer&.mac_address
        / / .row
        / / .row