- if customer.service
  = form_with(model: customer) do |form|
    - if customer.errors.any?
      #error_explanation  
        - customer.errors.full_messages.each do |message|
          .col
            .alert.alert-danger.text-white
              = message
    .card
      .card-header
        %h1.header-title
          Package
      .card-body 
        = form.fields_for :customer_package do |customer_package|     
          .row
            
          
          
                
          
        
        
      .card-footer
        .actions
          = form.submit "Submit Package", class: "btn btn-primary", id: "submit_button"
- else
  .row
    .col-12
      / Card
      .card.card-inactive
        .card-body.text-center
          / Image
          %img.img-fluid{:alt => "...", :src => "/img/scale.svg", :style => "max-width: 182px;"}/
          / Title
          %h1
            Empty Service.
          / Subtitle
          %p.text-muted
            Please select service from the upper menu.                     