= search_form_for q do |f|
  .input-group.input-group-flush.input-group-merge.input-group-reverse
    = f.search_field :name_or_username_or_mobile_primary_or_area_name_or_sub_area_name_or_company_name_or_package_name_or_service_name_or_staff_full_name_cont, class: 'form-control list-search', placeholder: 'Search'
    %span.input-group-text
      %i.fe.fe-search                    