
.header
  .container-fluid
    .header-body
      .row.align-items-end
        .col
          %h6.header-pretitle
            Overview
          %h1.header-title
            New City

.container-fluid   
  .row
    .col-sm-12
      .card
        .card-body
          = render 'form', city: @city
             