= search_form_for q do |f|
  .input-group.input-group-flush.input-group-merge.input-group-reverse
    = f.search_field :name_cont, class: 'form-control list-search', placeholder: 'Search'
    %span.input-group-text
      %i.fe.fe-search
                              