%nav#topbar.navbar.navbar-expand-md.navbar-light.d-none.d-md-flex
  .container-fluid
    .mr-4.d-none.d-md-flex
      = current_admin.roles.first.name.split('_').map(&:capitalize).join(' ')
    .navbar-user
      .dropdown
        %a.avatar.avatar-sm.avatar-online.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
          %img.avatar-img.rounded-circle{alt: "...", src: "/img/icons/project-manager.png"}/
        .dropdown-menu.dropdown-menu-end
          %a.dropdown-item{href: "javascript:void(0)"} Profile
          %a.dropdown-item{href: "javascript:void(0)"} Settings
          %hr.dropdown-divider/
          = button_to "Sign out", destroy_admin_session_path, method: :delete, class: "dropdown-item"