        
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      
      <!-- Card -->
      <div class="card card-inactive">
        <div class="card-body text-center">

          <!-- Image -->
          <img src="/img/scale.svg" alt="..." class="img-fluid" style="max-width: 182px;">
          
          <!-- Title -->
          <h1>
            No data yet.
          </h1>

          <!-- Subtitle -->
          <p class="text-muted">
            Create a new record, click on New button top right.
          </p>

        </div>
      </div>

    </div>
  </div> <!-- / .row -->
</div>