%nav#sidebar.navbar.navbar-vertical.fixed-start.navbar-expand-md.navbar-light
  .container-fluid
    / Toggler
    %button.navbar-toggler{"aria-controls" => "sidebarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#sidebarCollapse", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    / Brand
    %a.navbar-brand{:href => dashboard_path}
      %img.navbar-brand-img.mx-auto{:alt => "...", :src => "/img/logo.svg"}/
    / User (xs)
    .navbar-user.d-md-none
      / Dropdown
      .dropdown
        / Toggle
        %a#sidebarIcon.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
          .avatar.avatar-sm.avatar-online
            %img.avatar-img.rounded-circle{alt: "...", src: "/img/avatars/profiles/avatar.png"}/
        / Menu
        .dropdown-menu.dropdown-menu-end{"aria-labelledby" => "sidebarIcon"}
          %a.dropdown-item{href: "javascript:void(0)"} Profile
          %a.dropdown-item{href: "javascript:void(0)"} Settings
          %hr.dropdown-divider/
          = link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item"
    / Collapse
    #sidebarCollapse.collapse.navbar-collapse
      / Navigation
      - if current_admin.has_role? :super_admin
        = render "shared/super_admin_nav"
      - elsif current_admin.has_role? :admin
        = render "shared/admin_nav"
      .mt-auto
    / / .navbar-collapse
