%nav#sidebar.navbar.navbar-vertical.fixed-left.navbar-expand-md.navbar-light
  .container-fluid
    / Toggler
    %button.navbar-toggler{"aria-controls" => "sidebarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#sidebarCollapse", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    / Brand
    %a.navbar-brand{:href => dashboard_path}
      %img.navbar-brand-img.mx-auto{:alt => "...", :src => "/img/logo.svg"}/
    / User (xs)
    .navbar-user.d-md-none
      / Dropdown
      .dropdown
        / Toggle
        %a#sidebarIcon.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .avatar.avatar-sm.avatar-online
            %img.avatar-img.rounded-circle{:alt => "...", :src => "/img/avatars/profiles/avatar.png"}/
        / Menu
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "sidebarIcon"}
          %a.dropdown-item{href: "javascript:void(0)"} Profile
          %a.dropdown-item{href: "javascript:void(0)"} Settings
          %hr.dropdown-divider/
          = link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item"
    / Collapse
    #sidebarCollapse.collapse.navbar-collapse
      / Form
      -# %form.mt-4.mb-3.d-md-none
      -#   .input-group.input-group-rounded.input-group-merge
      -#     %input.form-control.form-control-rounded.form-control-prepended{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
      -#     .input-group-prepend
      -#       .input-group-text
      -#         %span.fe.fe-search
      / Navigation
      %ul.navbar-nav.mt-5
        %li.nav-item
          = active_link_to dashboard_path, class: "nav-link" do
            %i.fe.fe-globe
            Dashboard
        -# %li.nav-item
        -#   %a.nav-link{"aria-controls" => "sidebarPaymentPlans", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#sidebarPaymentPlans", :role => "button"}
        -#     %i.fe.fe-dollar-sign
        -#     Payment Plans
        -#   #sidebarPaymentPlans.collapse
        -#     %ul.nav.nav-sm.flex-column
        -#       %li.nav-item
        -#         = active_link_to "Stripe", "javascript:void(0)", class: "nav-link"
        -#       %li.nav-item
        -#         = active_link_to "Paypal", "javascript:void(0)", class: "nav-link"
        -# %li.nav-item
        -#   = active_link_to subscriptions_path, class: "nav-link" do
        -#     %i.fe.fe-shield
        -#     Subscriptions
        -# %li.nav-item
        -#   %a.nav-link{"aria-controls" => "sidebarDashboards", "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#sidebarDashboards", :role => "button"}
        -#     %i.fe.fe-home
        -#     Dashboards
        -#   #sidebarDashboards.collapse.show
        -#     %ul.nav.nav-sm.flex-column
        -#       %li.nav-item
        -#         %a.nav-link.active{:href => "index.html"}
        -#           Default
        -#       %li.nav-item
        -#         %a.nav-link{:href => "dashboard-alt.html"}
        -#           Alternative
      -#   %li.nav-item
      -#     %a.nav-link{"aria-controls" => "sidebarPages", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#sidebarPages", :role => "button"}
      -#       %i.fe.fe-file
      -#       Pages
      -#     #sidebarPages.collapse
      -#       %ul.nav.nav-sm.flex-column
      -#         %li.nav-item
      -#           %a.nav-link{"aria-controls" => "sidebarProfile", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#sidebarProfile", :role => "button"}
      -#             Profile
      -#           #sidebarProfile.collapse
      -#             %ul.nav.nav-sm.flex-column
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "profile-posts.html"}
      -#                   Posts
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "profile-groups.html"}
      -#                   Groups
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "profile-projects.html"}
      -#                   Projects
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "profile-files.html"}
      -#                   Files
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "profile-subscribers.html"}
      -#                   Subscribers
      -#         %li.nav-item
      -#           %a.nav-link{"aria-controls" => "sidebarProject", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#sidebarProject", :role => "button"}
      -#             Project
      -#           #sidebarProject.collapse
      -#             %ul.nav.nav-sm.flex-column
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "project-overview.html"}
      -#                   Overview
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "project-files.html"}
      -#                   Files
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "project-reports.html"}
      -#                   Reports
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "project-new.html"}
      -#                   New project
      -#         %li.nav-item
      -#           %a.nav-link{"aria-controls" => "sidebarTeam", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#sidebarTeam", :role => "button"}
      -#             Team
      -#           #sidebarTeam.collapse
      -#             %ul.nav.nav-sm.flex-column
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "team-overview.html"}
      -#                   Overview
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "team-projects.html"}
      -#                   Projects
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "team-members.html"}
      -#                   Members
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "team-new.html"}
      -#                   New team
      -#         %li.nav-item
      -#           %a.nav-link{"aria-controls" => "sidebarFeed", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#sidebarFeed", :role => "button"}
      -#             Feed
      -#           #sidebarFeed.collapse
      -#             %ul.nav.nav-sm.flex-column
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "feed.html"}
      -#                   Platform
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "social-feed.html"}
      -#                   Social
      -#                   %span.badge.badge-soft-success.ml-auto New
      -#         %li.nav-item
      -#           %a.nav-link{:href => "kanban.html"}
      -#             Kanban
      -#             %span.badge.badge-soft-success.ml-auto New
      -#         %li.nav-item
      -#           %a.nav-link{:href => "orders.html"}
      -#             Orders
      -#         %li.nav-item
      -#           %a.nav-link{:href => "settings.html"}
      -#             Settings
      -#         %li.nav-item
      -#           %a.nav-link{:href => "invoice.html"}
      -#             Invoice
      -#         %li.nav-item
      -#           %a.nav-link{:href => "pricing.html"}
      -#             Pricing
      -#   %li.nav-item
      -#     %a.nav-link{"aria-controls" => "sidebarAuth", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#sidebarAuth", :role => "button"}
      -#       %i.fe.fe-user
      -#       Authentication
      -#     #sidebarAuth.collapse
      -#       %ul.nav.nav-sm.flex-column
      -#         %li.nav-item
      -#           %a.nav-link{"aria-controls" => "sidebarSignIn", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#sidebarSignIn", :role => "button"}
      -#             Sign in
      -#           #sidebarSignIn.collapse
      -#             %ul.nav.nav-sm.flex-column
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "sign-in-cover.html"}
      -#                   Cover
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "sign-in-illustration.html"}
      -#                   Illustration
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "sign-in.html"}
      -#                   Basic
      -#         %li.nav-item
      -#           %a.nav-link{"aria-controls" => "sidebarSignUp", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#sidebarSignUp", :role => "button"}
      -#             Sign up
      -#           #sidebarSignUp.collapse
      -#             %ul.nav.nav-sm.flex-column
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "sign-up-cover.html"}
      -#                   Cover
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "sign-up-illustration.html"}
      -#                   Illustration
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "sign-up.html"}
      -#                   Basic
      -#         %li.nav-item
      -#           %a.nav-link{"aria-controls" => "sidebarPassword", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#sidebarPassword", :role => "button"}
      -#             Password reset
      -#           #sidebarPassword.collapse
      -#             %ul.nav.nav-sm.flex-column
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "password-reset-cover.html"}
      -#                   Cover
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "password-reset-illustration.html"}
      -#                   Illustration
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "password-reset.html"}
      -#                   Basic
      -#         %li.nav-item
      -#           %a.nav-link{"aria-controls" => "sidebarError", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#sidebarError", :role => "button"}
      -#             Error
      -#           #sidebarError.collapse
      -#             %ul.nav.nav-sm.flex-column
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "error-illustration.html"}
      -#                   Illustration
      -#               %li.nav-item
      -#                 %a.nav-link{:href => "error.html"}
      -#                   Basic
      -#   %li.nav-item.d-md-none
      -#     %a.nav-link{"data-toggle" => "modal", :href => "#sidebarModalActivity"}
      -#       %span.fe.fe-bell
      -#       Notifications
      / Divider
      -# %hr.navbar-divider.my-3/
      / Heading
      -# %h6.navbar-heading
      -#   Documentation
      / Navigation
      -# %ul.navbar-nav.mb-md-4
      -#   %li.nav-item
      -#     %a.nav-link{:href => "getting-started.html"}
      -#       %i.fe.fe-clipboard
      -#       Getting started
      -#   %li.nav-item
      -#     %a.nav-link{"aria-controls" => "sidebarComponents", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#sidebarComponents", :role => "button"}
      -#       %i.fe.fe-book-open
      -#       Components
      -#     #sidebarComponents.collapse
      -#       %ul.nav.nav-sm.flex-column
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#alerts"}
      -#             Alerts
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#autosizePlugin"}
      -#             Autosize
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#avatars"}
      -#             Avatars
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#badges"}
      -#             Badges
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#breadcrumb"}
      -#             Breadcrumb
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#buttons"}
      -#             Buttons
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#button-group"}
      -#             Button group
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#cards"}
      -#             Cards
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#charts"}
      -#             Charts
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#dropdowns"}
      -#             Dropdowns
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#forms"}
      -#             Forms
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#icons"}
      -#             Icons
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#kanban"}
      -#             Kanban
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#lists"}
      -#             Lists
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#map"}
      -#             Map
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#modal"}
      -#             Modal
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#navs"}
      -#             Navs
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#navbarExample"}
      -#             Navbar
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#page-headers"}
      -#             Page headers
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#pagination"}
      -#             Pagination
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#popovers"}
      -#             Popovers
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#progress"}
      -#             Progress
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#social-posts"}
      -#             Social post
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#spinners"}
      -#             Spinners
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#tables"}
      -#             Tables
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#toasts"}
      -#             Toasts
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#tooltips"}
      -#             Tooltips
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#typography"}
      -#             Typography
      -#         %li.nav-item
      -#           %a.nav-link{:href => "components.html#utilities"}
      -#             Utilities
      -#   %li.nav-item
      -#     %a.nav-link{:href => "changelog.html"}
      -#       %i.fe.fe-git-branch
      -#       Changelog
      -#       %span.badge.badge-primary.ml-auto v1.4.2
      / Push content down
      .mt-auto
    / / .navbar-collapse
