.container
  .row.justify-content-center
    .col-12.col-md-5.col-xl-4.my-5
      %h1.display-4.text-center.mb-3
        Welcome
      %p.text-muted.text-center.mb-5
        Backend Template (Ruby 3.0.1 and Rails 6.1.3)