= search_form_for q do |f|
  .input-group.input-group-flush.input-group-merge.input-group-reverse
    = f.search_field :full_name_or_mobile_primary_or_staff_type_name_or_blood_group_name_cont, class: 'form-control list-search', placeholder: 'Search'
    %span.input-group-text
      %i.fe.fe-search
                    