/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/v4-shims";

.icon-size {
  height: 20px;
  width: 20px;
}

.search-bar {
  padding: 1rem;
}

.staff-img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 38%;
  margin-left: 30%;
}

.custome-height {
  max-height: 500px;
  overflow-y: auto;
}

.dashboard-style {
  border: 1px solid #87ceeb;
}

#noty_layout__topCenter {
  top: 10%;
  left: 88%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

.readonly_field {
  background-color: aliceblue !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.text-room {
  line-height: 35px;
}

.custom-card {
  margin-bottom: 0.2rem;
}

.custom-card-body {
  padding: 0rem 1.5rem;
}

.active_subscription {
  background-color: #F0FFEC;
}

.expire_subscription {
  background-color: #f6d8d770;
}

.danger-zone-border {
  border: 2px solid red; 
}

.customer-data-download {
  border: 1px solid #88ed88
}